/*@import "../../../static/styles/variables.less";*/

:root {
	--lightGrey: #DCDDDE;
}

.box {
	width: 100% !important;
  height: 100% !important;
	z-index: 997 !important;
	display: none !important;
	position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.box.canDrop {
	display: block !important;
  opacity: 0 !important;
}

.box.isActive {
	display: block !important;
  opacity: 1 !important;
}

.box .bin {
	width: 100% !important;
  height: 100% !important;
  background-color: #DCDDDE !important;
  text-align: center !important;
  display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}
