.field > input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    border-color: white !important;
}

.form div > div > input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    border-color: white !important;
}
